<header class="container-header">
    <img
      class="content-header__logo"
      src="https://githubanotaai.github.io/frontend-interview-mock-data/assets/128x128.png"
      alt="logo anota ai"
    />
    <div class="content-header__title-subtitle">
      <span class="content-header__title-subtitle__title">
        Teste de Desenvolvedor Fron-End - Anota AI
      </span>
      <span class="content-header__title-subtitle__subtitle">
        Vinicius Lopes de Camargo
      </span>
    </div>
  </header>